<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>datagouvfr-top2vec</title>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>

<body>
  <header>
    <nav>
      <a href="/">datagouvfr-top2vec</a>
      <a href="/search">search</a>
    </nav>
  </header>
  <main>
  {% block content %}
  {% endblock content %}
  </main>
</body>

<script src="https://unpkg.com/htmx.org@1.9.9"
  integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>

</html>
